
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Poppins-Regular.ttf");
    src: url("../fonts/Open Sans-Regular.ttf");
}

body { font-family: poppins; margin: 0; padding: 0; }
header { background: #06521c; color: white; padding: 5px; text-align: center;}
nav { background: white; padding-top: 2rem; padding-bottom: 2rem; text-align: center;}
nav a { font-weight: 500; color: black; text-decoration: none; margin: 0 15px; }
nav a:hover {color: #df9911;}
nav a[href="#inicio"] {color: #df9911}
section { padding: 20px; max-width: 800px; margin: auto; }
footer { background: #06521c; color: white; text-align: center; padding: 10px; margin-top: 20px; }
table {border-collapse: collapse;}
th, td {border: 1px solid black; padding: 8px; font-weight: normal;}
caption {padding: 8px; font-weight:normal;} 
.center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
.dark-mode {background-color: black; color: white; border: 1px solid white;}
.dark-mode th, .dark-mode td {border: 1px solid white;}
.dark-mode nav { background: black; padding-top: 2rem; padding-bottom: 2rem; text-align: center; }
.dark-mode nav a { color: white; text-decoration: none; margin: 0 15px; }
.dark-mode nav a:hover {color: #df9911;}
button {
    float: right;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}